.cont {
    height: 100px;
}

.table_cont {
    height: 190px;
}

.add{
    width: 150px;
}

@media only screen and (max-width: 1120px) {
    .cont {
        height: 320px;
    }

    .table_cont {
        height: 290px;
    }

    .add{
        width: 130px;
    }
}

@media only screen and (min-width: 1120px) {
    .cont {
        height: 100px;
    }

    .table_cont {
        height: 190px;
    }

    .add{
        width: 150px;
    }
}
